* Right Grid Images */
.grid-container {
    position: relative;
    overflow: hidden;
}

.grid-item-product {
    /* overflow: hidden; */
    /* overflow: hidden; */
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.grid-item-product img {
    height: auto;
    object-fit: cover;
    transform-origin: left right top;
    transition: transform 0.3s ease;
}

.grid-item-product img:hover {
    transform: scale(1.05); /* Scale up on hover */
}

/* Optional: Add hover effect for overlay text */
.grid-item-product .overlay-text,
.large-image .caption .caption-responsive {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* .grid-item-product:hover .overlay-text {
    transform: translateY(-5px);
    opacity: 1;
} */

.grid-item-product .overlay-text {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
}

.grid-item-product .overlay-text h3 {
  margin: 0;
  font-size: 18px;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.grid-item-product .overlay-text p {
  margin: 5px 0 0 0;
  font-size: 14px;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image {
    width: 100%; 
    height: auto;
    display: block;
    transition: transform 0.2s ease;
  }
  
  .image-container:hover .image {
    transform: scale(1.05); 
    transform-origin: center center; /* Scale from the center of the image */
  }